@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Literata', serif;;
}

body{
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.space{
    width: 93%;
    margin-left: auto;
    margin-right: auto;
} 

.reserch {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
    display: flex;
    align-items: center; 
    gap: 10px; 
    text-align: left;
}

.reserch form {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    text-align: left;
}

.title_reserch{
    font-size: 30px;
}

.reserch-button{
    background-color: rgba(114, 169, 224, 0.2);
    border-radius: 20px;
    padding: 10px 50px; 
    border: none;
    font-size: medium;
    cursor: pointer;
}

.work_types {
    background-color: rgba(114, 169, 224, 0.2);
    width: 700px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin: 0; 
    text-align: left;
    font-size: 18px;
}

.request{
    border: none;
    background-color: #ffffff;
    margin-left: 40px;
    padding-right: 10px;
    display: flex;
    text-decoration: none;
    position:relative;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.card{
    overflow: auto;
    border-radius: 0px 0px 50px 0px;
    background: linear-gradient(180deg, #3E80C2 0%, #72A9E0 100%);
    /* padding: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image{
    display: block;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 100%;
    /* border-radius: 20px; */
    object-fit: cover;
}

.info{
    /* margin-top: 10px; */
    margin-left: 10px;
    margin-right: 10px;
}

.title{
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: medium;
    font-size: 20px;
}

.price{
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.card-button{
    padding: 10px 50px; 
    border-radius: 50px;
    color: #5D86B6;
    background: white;
    /* border: 1px solid #000000; */
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: medium;
}

.down{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.down p{
    font-size: 16px;
    font-weight: 700;
}

/* header {
    height: 350px;
    background: linear-gradient(180deg, #ffffff 0%, #3E80C2 100%);
    color: white;
    padding: 30px 0;
} */

.logo{
    display: flex;
    height: 80px;
    width: 100wh;
    /* justify-content: space-between; */
    background: linear-gradient(180deg, #3E80C2 0%, #ffffff 100%);
    align-items: center;
}
.text-wrapper{
    font-size: medium;
}
.logo-wrapper{
    display: flex;
}
.logo img {
    height: 60px; /* Высота логотипа */
    width: auto;
    margin-right: 10px; /* Отступ между логотипом и названием */
    margin-left: 20px;
    cursor: pointer;
}

.page_container{
    width: 1440px;
    height: 100vh;
    margin-left: 35px;
    margin-right: 35px;
}

.application{
    width: 60px; 
    height:auto;
}

.sum-request{
    background-color:#5D86B6;
    height: 20px;
    width: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    position:absolute; top:5px; left:45px;
}

