<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'page3.css' %}">
</head>
<body>
    {% include 'components/header.html' %}
    <div class="container-page">
        <div class="container-up">
            <p class="title-works">Реконструкционные работы</p>
            <div>
                <input type="text" class="place" placeholder="Введите место" value="{{ place }}"/>
            </div>
            <div class="title-fundraising">Результат сбора средств: 
                <p class="result-fundraising">{{fundraising }} ₽</p>
                {% comment %} {% if fundraising %}
                    <p>  ₽</p>
                {% endif %} {% endcomment %}
            </div>
        </div>
    <div class= "card_and_buttons">          
        <div class="card">
            {% for work in works %}
                    <div class="card-container">
                        <div><img src="{{ work.work.imageUrl }}" class="work_img"></div>
                        <div class="info_work">
                            <div class="title-card">{{ work.work.title }}</div>
                            <div class="specifications">
                                <p>Цена: {{work.work.price}} ₽/м²</p>
                                <div>Объем работ: 
                                    <input type="text" id="value-{{ work.work.id }}" class="value-input" value="{{ work.space }}" />
                                    м²
                                </div>
                            </div>
                        </div>
                    </div>  
            {% endfor %}
        </div>
        {% if works %}
            <form action="{% url 'application_delete' id %}" method="post">
                {% csrf_token %}
                <button class="delete_application_button" type="submit">Очистить заявку</button>
            </form>
        {% else %}    
            <p>Вы еще не выбрали ни одну работу.</p>
        {% endif %}
    </div>
    </div>
</body>
</html>